@use "./../../../../public/styles/colors.scss";
.general{
    display: flex;
    width: 100%;
    height: 100vh; //es equivalente a usar el 100% de la altura de la pantalla
    background-image: url('/images/carpink.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50% 100%;
    background-color: rgba(235, 220, 231, 0.164);

}
.iconos{
    width: 20px;
}


.container-1 {
    display: inline-flex;
    flex-direction: column;
    margin-top: 110px;
    width: 450px;
    height: 400px;
    margin-left:30%;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: left;

}
.container-1 a{
    font-size: 20px;
    text-decoration: none;
    
}

.container-2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 160px;
    align-items: center;
    justify-content: center;
    padding: 8% 20%;

    
}

input{
    margin-top: 20px;
    width: 320px;
    height: 44px;
    font-size: 14px;
    border:  2px solid colors.$color-uno;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button{
    font-size: 18px;
    border-radius: 5px;
    border:  1.5px solid colors.$color-dos;
    width: 320px;
    height: 44px;
    color: rgb(255, 255, 255);
    background-color: colors.$color-uno;
    
}
a{
    text-decoration: none;
    color: colors.$color-dos;
}

h1{
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    margin-left: 60%;
    margin-top: 20%;
    align-items: center;
    text-align: center;  
    text-shadow: 
    -1px -1px 0 colors.$color-dos, /* Sombra hacia arriba a la izquierda */
     1px -1px 0 colors.$color-dos, /* Sombra hacia arriba a la derecha */
    -1px  1px 0 colors.$color-dos, /* Sombra hacia abajo a la izquierda */
     1px  1px 0 #000; /* Sombra hacia abajo a la derecha */

}

